#ulohy {
  border-radius: 35px;
  border-style: ridge;
  background-image: url(../images/header-footer.png);
  position: relative;
  padding: 100px;
  height: 400px;
  width: 50%;
}

.tabulka-nadpis {
  color: aqua;
  font-size: 20px;
}

.tabulka-datum {
  color: aqua;
  font-size: 18px;
}

.tabulka-text {
  color: white;
  font-size: 18px;
  text-align: center;
}